<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <RabbitMqSetting Host="localhost" Port="5672" VirtualHost="/" Username="admin" Password="admin" SslEnabled="false" CertSubject="svc_bos_core" AutoACK="false" WaitForConfirmsMilliseconds="500" Persistent="true">
    <Queues Exchange="Exchange1" ExchangeType="topic" Name="queue1" PrefetchCount="10" Durable="true" RoutingKey="*" MessageType="RabbitMQSample.Model.Queue1Message"/>
    <Queues Exchange="Exchange2" ExchangeType="topic" Name="queue2" PrefetchCount="10" Durable="true" RoutingKey="*" MessageType="RabbitMQSample.Model.Queue2Message"/>
  </RabbitMqSetting>
</configuration>